<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
           <div class="col-mid-12">
                <ul class="list-group" id="item_list">
                   
                  </ul>

                
            </div> 

        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="items" name="items">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Name</label>
                        <input id="name"name="name" type="text" class="form-control" id="inputEmail4" placeholder="Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Email</label>
                        <input id="gmail" name="gmail" type="text" class="form-control" id="inputPassword4" placeholder="email@gmail.com">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input id="address" name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input id="city" name="city" type="text" class="form-control" >
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">state</label>
                          <input id="state" name="state" type="text" class="form-control" >
                        </div>
            
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip code</label>
                        <input id="zipcode" name="zipcode" type="text" class="form-control" >
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Amount To Paid</label>
                        <input readonly="" type="text" class="form-control" id="total" name="total">
                      </div>
                    </div></form></br>
                    <button type="submit" class="btn btn-primary">place order</button>
                  </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
if (localStorage.getItem('cart')==null){
    var cart={};
}
else{
    cart=JSON.parse(localStorage.getItem('cart'));
}
let total=0;
for(item in cart){
    let name = cart[item][1];
    let quantity = cart[item][0];
    let price=cart[item][2];
    total=total+cart[item][2];


    itemstring=`<li class = "list-group-item">${name}  of ---><span class="">${quantity}</span>   = <span class="">${price}</span></li>`
   $('#item_list').append(itemstring);
}
totalprice=`<li class = "list-group-item d-flex justify-content-between align-items-center"><b>YOUR TOTAL</b>${total}</li>`
$('#item_list').append(totalprice);
$('#total').val(total)
    
$('#items').val(JSON.stringify(cart));
</script>
</html>
    